
._*

.DS_Store

**/.DS_Store

**/._.DS_Store

venv/

.venv/

models/

*.pt

*.pth

*.onnx

*.engine

raw data/

data/raw/images/

data/raw/labels/

data/annotate/

data/replay_buffer/fod/

data/replay_buffer/clean/

data/replay_buffer/pending/

outputs/

logs/

__pycache__/

*.pyc

*.pyo

